@model IEnumerable<Nhom3.Models.SinhVien>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã Sinh Viên
                </th>
                <th>
                    Họ Tên
                </th>
                <th>
                    Ngày Sinh
                </th>
                <th>
                    SĐT
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:170px">
                        @Html.DisplayFor(modelItem => item.MaSV)
                    </td>
                    <td style="width:70px">
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td style="width:110px">
                        @Html.DisplayFor(modelItem => item.NgaySinh)
                    </td>
                    <td style="width: 200px">
                        @Html.DisplayFor(modelItem => item.DienThoai)
                    </td>

                    <td>
                        <a asp-controller="KetQuaHocTap" asp-action="XemDiem" asp-route-id="">Xem Điểm</a> |
                        <a asp-controller="SinhVien" asp-action="Edit" asp-route-id="@item.MaSV">Sửa</a> |
                        <a asp-action="Delete" asp-controller="SinhVien" asp-route-id="@item.MaSV" onclick="return confirm('Bạn có chắc muốn xóa Sinh viên này ?');">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p> <a asp-controller="SinhVien" asp-action="Create">Thêm</a>  </p>
        
</body>
